.container-fluid{
	background-color: #e8ecf1; 
	/*background-color: white; */
	/*padding-left: 10px;*/ 

}

.parallax { 
  /* The image used */
  background-image: url("NSBE_pic_two.jpg");
  /*background-color: red; */

  /* Set a specific height */
  height: 10%;
  /*color:white; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#navtitle{
	 
	font-weight:bold;
	font-size:25px;
	font-family:"Helvetica";
}

.navtext{
	font-size: 16px; 
}

ul li a{ /*changes the link color to black, could probably also do a learning log over. Took a second to work out*/ 
	  color: grey !important;
}

ul li a:hover{
	color:black !important;
}

.top-buffer{
	margin-top:-80px;
}


.picture-header{
	width:100%;
	/*height: 680px;*/
	height:100%; 
}

#linkedin-background{
	height:700px;
	background-color: #e8ecf1; 

}

.skills{
	text-align: center;
	font-family: "Helvetica"; 
	/*font-style: italic;*/ 
	/*font-weight: bold;*/ 
	font-size:18px; 
}

#skills-row{
	height:100px;
}

.skills-top-buffer{
	margin-top:80px;
}

/*.col-lg-12{
}*/

/*.col-lg-12 img{
	width:100%;
	height:100%;
}
*/
.text-wrapper{
	width:100%;
	position:relative;
	margin-top:-10%;
	margin-left:-40.5%;
} 

.text-wrapper h1{
	text-align:center;
	color:black;
	font-size:25px;
	font-family: 'Arimo', sans-serif;
	opacity: 0.5; 

}

.text-wrapper h2{
	text-align:center;
	color: black;
	font-size:17px;
	font-family: 'Arimo', sans-serif;
	opacity:0.5;
}

.btn.btn-outline-dark:hover{
	opacity: 0.3; 
	background-color: #e8ecf1;
	color:black;
}


.btn.btn-outline-dark{
	color:black;
	border-radius: 0; 
	opacity:0.5;
	background-color: #e8ecf1;
	font-size: 15px;  
}

/*.btn.background-btn{
	color:black;
	background-color: white;
	opacity: 0.2; 

}*/
#blur{
 -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(1px);
}


#h2-margin{
	margin-left:-2%;
}

#h1-margin{
	margin-left:10%;
}

#hire-me-btn-margin{
	/*display: none;*/ 
	margin-top:1%; 
	margin-left:2.3%;
}

	/*div.parallax header{
		color:white;
	}
*/
	div.parallax p{
		color:white;
	}

	div.parallax hr{
		background-color: white;
	}

   div.parallax .Brienis-text1{
	text-align: center;
	color:white;
	font-size:15px;
	/*font-size: 30px; test*/
	font-family:'Playfair Display', serif;
	opacity: 0.9; 
}

    div.parallax .Brienis-text2{
	text-align:center;
	color:white;
	font-size:15px;
	/*font-size: 30px; test*/
	font-family:'Playfair Display', serif;
	opacity: 0.9; 
}

.Brienis-text-top{
	margin-top: 8%; 
}

/*#mywork{
  background-color:blue;
    height:600px;
}*/

.for-video-size{
	width:500px;  
	height:600px;
}

div.parallax #metro-header{
	font-size:25px;
	font-family: 'Arimo', sans-serif;
	font-weight: bold;
	color:white; 
}

.prototype-description{
	font-family: 'Arimo', sans-serif;
	font-size: 15px; 
}

video:hover {
	 opacity: 0.7;
      transition: 0.5s;
}

.footer-buttons{
	text-align: center;
	font-size: 22px; 
}

#footer-btn-top{
	margin-top:1%;
}





#footer-background{
	height:100px;
	background-color:black;
}

.footertext{
  color:white;
  text-align: center; 
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.4;
    color: white; 
}

.fa-linkedin {
  /*background: #007bb5;*/
  /*background: #bfbfbf;*/
  color: white;
}

.fa-pinterest {
  /*background: #cb2027;*/
  /*background: #bfbfbf;*/
  color: white;
}

.fa-github{
	color:white;

}

#developer-skills-background{
	height:100px;
}

#developer-skills-header1{
	font-weight: bold;
	font-size:20px; 

}

#developer-skills-header2{
	font-size:20px;
}

/*#about-me-info1{
	margin-top:30px;
}
*/

#video-top-margin{
	margin-top:5%;
}

#conclusion-width{
	width:100%;
}

.conclusion-header{
	font-size:4vh;
	font-family: 'Arimo', sans-serif;
	font-weight: bold;
	text-align: center; 
}

#conclusion-top-margin{
	margin-top: 4%;
	height:150px; 
}

#conclusion-link{
	color:black;
	text-decoration:underline;
}

#conclusion-link:hover{
	color:white;
}

.experience-buffer{
	margin-top:100px;
}

#experience-background{
	height:100px;
}

.experience-list-buffer{
	margin-top:40px;
}

#experience-skills-text{
	font-size:18px;
}

#experience-text{
	text-align: center; 
}

#experience-list-buffer2{
	margin-top:60px;
}

.footer-buffer{
	margin-top: 3%; 
}

#skills-background{
	height:100px;
}

#list-skills-buffer{
	margin-top:60px;
}

.list-skills-height{
	height:100px;
}

.about-buffer{
	margin-top:100px;
}

#final-skills-text{
	font-size:18px;
}


#my-skills-header{
	font-weight: bold;
	font-size:20px;
	/*text-align: center;*/ 

}

#my-skills-header2{
	font-size: 20px;
	/*text-align: center;*/  

}


#my-skills-text{
	font-size:18px;
	/*text-align: center;*/ 
}

#contact-background{
	height: 160px; 
}



#transit-top-buffer{
	margin-top:80px;
}

#work-background{
	background-color: #e8ecf1;
}

#metro-title{
	font-weight: bold;
	text-align: center; 
	font-family: "Helvetica"; 
}

#card-top-margin{
	margin-top:80px;
}

#overview-top{
	margin-top:200px;
}

#test-text{
	text-align: center; 
}

.card-row-height{
	height:300px;
}

#recording-top-margin{
	margin-top: 80px;
}

#recording-background{
	height:600px;
}

.sitemap-background{
	height:680px;
}

.sitemap-text-background{
	height:80px;
}


#sitemap{
	width:720px;
	height:680px;
}

.soon-to-come-background{
	height:5%;
}

#sitemap-top{
	margin-top: 100px; 
}

#sitemap-text-background{
	height:80px;
}


.persona-top{
	margin-top: 4%;
}

.persona-top-2{
	margin-top: 6%;
}

#persona-top-version2{
	margin-top:4%;
}

.actual-sitemap-top{
	margin-top:3%;
}

.userflow-top-margin{
	margin-top:4%;
}


#userflow{
	width:980px;
	height:520px;
}

#userflow-background{
	height:600px;
}

#persona{
	width:700px;
	height:550px;
}

#persona-background{
	height:520px;
}


.persona-top-margin{
	margin-top:40px;
}

.soon-to-come-top{
	margin-top:2%;
}

#soon-background{
	height:100px;
}

#soon-text{
	font-weight: bold; 
}

@media (min-width: 576px) and (max-width: 768px) { /* Small devices (landscape phones, less than 768px)*/
	.picture-header{
			height:100%;
		}

		#linkedin-background{
		/*height:900px;*/
		height:20%; /*check background on smaller screen*/
		/*background-color: black; */
		}

		#navtitle{
		font-weight:bold;
		font-size:20px;
		font-family:"Helvetica";
		}


		.navtext{
		font-size: 12px; 
		}

		#h2-margin{
		margin-left:2.7%;
		}

		#h1-margin{
		margin-left:13%;
		}

		.text-wrapper{
		width:100%;
		position:relative;
		margin-top:-13%;
		margin-left:-40.5%;
		} 

		.text-wrapper h1{
			text-align:center;
			color:black;
			font-size:14px;
			font-family: 'Arimo', sans-serif;
			opacity: 0.5; 

			}

		.text-wrapper h2{
		text-align:center;
		color: black;
		font-size:12px;
		font-family: 'Arimo', sans-serif;
		opacity:0.5;
		}

		#hire-me-btn-margin{
		display: block; 
		margin-top:1%; 
		margin-left:2.1%;
		}

		.btn.btn-outline-dark{
		color:black;
		border-radius: 0; 
		opacity:0.5;
		background-color: #e8ecf1;
		font-size: 10px;  
		}

		.Brienis-text1{
		text-align: center;
		color:black;
		font-size:13px;
		font-family:'Playfair Display', serif;
		opacity: 0.7; 
		}

		.Brienis-text2{
		text-align:center;
		color:black;
		font-size:13px;
		font-family:'Playfair Display', serif;
		opacity: 0.7; 
		}

		/*.Brienis-text-top{
		margin-top: 8%; 
		}*/

		#metro-header{
	 	font-size:20px;
		font-family: 'Arimo', sans-serif;
		font-weight: bold; 
		}

		video:hover {
	 	opacity: 0.7;
	 	/*opacity: 0.9; */
      	transition: 0.5s;
		}	

		.for-video-size{
		width:300px;  
		/*height:600px;*/
		height:400px;
		}

		#conclusion-link:hover{
		color:white;
		}

		#conclusion-link{
		color:black;
		text-decoration:underline;
		}

		.conclusion-header{
		font-size:3vh;
		font-family: 'Arimo', sans-serif;
		font-weight: bold;
		text-align: center; 
		}

		#footer-background{
		height:5%;
		background-color:black;
		}

		.footertext{
	  	color:white;
	  	text-align: center; 
		}

		#footer-btn-top{
		margin-top:0.5%;
		}


		.fa {
	  	padding: 20px;
	  	font-size: 30px;
	  	width: 30px;
	  	text-align: center;
	  	text-decoration: none;
	  	margin: 5px 2px;
	  	border-radius: 50%;
		}

		.fa:hover {
	    opacity: 0.4;
	    color: white; 
		}

		.fa-linkedin {
	  	/*background: #007bb5;*/
	  	/*background: #bfbfbf;*/
	  	color: white;
		}

		.fa-pinterest {
	  	/*background: #cb2027;*/
	  	/*background: #bfbfbf;*/
	  	color: white;
		}

		.fa-github{
		color:white;

		}

		.footer-buttons{
		text-align: center;
		font-size: 20px; 
		}

		.prototype-description{
		font-family: 'Arimo', sans-serif;
		font-size: 15px; 
		}


} /*end of breakpoint*/


@media (min-width: 768px) and (max-width: 991.98px) {/*Medium devices (tablets, less than 992px)*/
	.picture-header{
			height:100%;
		}

		#linkedin-background{
		/*height:900px;*/
		height:20%;
		}

		#blur{
	 	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
	  	filter: blur(1px);
		}

		#navtitle{
		font-weight:bold;
		font-size:20px;
		font-family:"Helvetica";
		}


		.navtext{
		font-size: 16px; 
		}

		#h2-margin{
		margin-left:2.7%;
		}

		#h1-margin{
		margin-left:13%;
		}

		.text-wrapper{
		width:100%;
		position:relative;
		margin-top:-10%;
		margin-left:-40.5%;
		} 

		.text-wrapper h1{
			text-align:center;
			color:black;
			font-size:18px;
			font-family: 'Arimo', sans-serif;
			opacity: 0.5; 

			}

		.text-wrapper h2{
		text-align:center;
		color: black;
		font-size:15px;
		font-family: 'Arimo', sans-serif;
		opacity:0.5;
		}

		#hire-me-btn-margin{
		display: block; 
		margin-top:1%; 
		margin-left:2.1%;
		}

		.btn.btn-outline-dark{
		color:black;
		border-radius: 0; 
		opacity:0.5;
		background-color: #e8ecf1;
		font-size: 10px;  
		}

		.Brienis-text1{
		text-align: center;
		color:black;
		font-size:15px;
		font-family:'Playfair Display', serif;
		opacity: 0.7; 
		}

		.Brienis-text2{
		text-align:center;
		color:black;
		font-size:15px;
		font-family:'Playfair Display', serif;
		opacity: 0.7; 
		}

		/*.Brienis-text-top{
		margin-top: 8%; 
		}*/

		#metro-header{
	 	font-size:25px;
		font-family: 'Arimo', sans-serif;
		font-weight: bold; 
		}

		video:hover {
	 	opacity: 0.7;
	 	/*opacity: 0.9; */
      	transition: 0.5s;
		}	

		.for-video-size{
		width:300px;  
		/*height:600px;*/
		height:400px;
		}

		#conclusion-link:hover{
		color:white;
		}

		#conclusion-link{
		color:black;
		text-decoration:underline;
		}

		.conclusion-header{
		font-size:3vh;
		font-family: 'Arimo', sans-serif;
		font-weight: bold;
		text-align: center; 
		}

		#footer-background{
		height:5%;
		background-color:black;
		}

		.footertext{
	  	color:white;
	  	text-align: center; 
		}

		#footer-btn-top{
		margin-top:0.5%;
		}


		.fa {
	  	padding: 20px;
	  	font-size: 30px;
	  	width: 30px;
	  	text-align: center;
	  	text-decoration: none;
	  	margin: 5px 2px;
	  	border-radius: 50%;
		}

		.fa:hover {
	    opacity: 0.4;
	    color: white; 
		}

		.fa-linkedin {
	  	/*background: #007bb5;*/
	  	/*background: #bfbfbf;*/
	  	color: white;
		}

		.fa-pinterest {
	  	/*background: #cb2027;*/
	  	/*background: #bfbfbf;*/
	  	color: white;
		}

		.fa-github{
		color:white;

		}

		.footer-buttons{
		text-align: center;
		font-size: 20px; 
		}

		.prototype-description{
		font-family: 'Arimo', sans-serif;
		font-size: 15px; 
		}
/*
		#persona-top-version2{
		margin-top:5%;
		}
*/
}

@media (min-width: 992px) and (max-width: 1200px){
	.picture-header{
			height:100%;
		}

		#linkedin-background{
		/*height:900px;*/
		height:20%;
		}

		#navtitle{
		font-weight:bold;
		font-size:24px;
		font-family:"Helvetica";
		}


		.navtext{
		font-size: 16px; 
		}

		#h2-margin{
		margin-left:-0.4%;
		}

		#h1-margin{
		margin-left:8%;
		}

		.text-wrapper{
		width:100%;
		position:relative;
		margin-top:-10%;
		margin-left:-40.5%;
		} 

		.text-wrapper h1{
			text-align:center;
			color:black;
			font-size:18px;
			font-family: 'Arimo', sans-serif;
			opacity: 0.5; 

			}

		.text-wrapper h2{
		text-align:center;
		color: black;
		font-size:15px;
		font-family: 'Arimo', sans-serif;
		opacity:0.5;
		}

		#hire-me-btn-margin{
		display: block; 
		margin-top:1%; 
		margin-left:2.1%;
		}

		.btn.btn-outline-dark{
		color:black;
		border-radius: 0; 
		opacity:0.5;
		background-color: #e8ecf1;
		font-size: 10px;  
		}

		.Brienis-text1{
		text-align: center;
		color:black;
		font-size:15px;
		font-family:'Playfair Display', serif;
		opacity: 0.7; 
		}

		.Brienis-text2{
		text-align:center;
		color:black;
		font-size:15px;
		font-family:'Playfair Display', serif;
		opacity: 0.7; 
		}

		/*.Brienis-text-top{
		margin-top: 8%; 
		}*/

		#metro-header{
	 	font-size:25px;
		font-family: 'Arimo', sans-serif;
		font-weight: bold; 
		}

		video:hover {
	 	opacity: 0.7;
	 	/*opacity: 0.9; */
      	transition: 0.5s;
		}	

		.for-video-size{
		width:250px;  
		/*height:600px;*/
		height:400px;
		}

		#conclusion-link:hover{
		color:white;
		}

		#conclusion-link{
		color:black;
		text-decoration:underline;
		}

		#footer-background{
		height:5%;
		background-color:black;
		}

		.conclusion-header{
		font-size:3vh;
		font-family: 'Arimo', sans-serif;
		font-weight: bold;
		text-align: center; 
		}

		.footertext{
	  	color:white;
	  	text-align: center; 
		}

		#footer-btn-top{
		margin-top:0.5%;
		}


		.fa {
	  	padding: 20px;
	  	font-size: 30px;
	  	width: 30px;
	  	text-align: center;
	  	text-decoration: none;
	  	margin: 5px 2px;
	  	border-radius: 50%;
		}

		.fa:hover {
	    opacity: 0.4;
	    color: white; 
		}

		.fa-linkedin {
	  	/*background: #007bb5;*/
	  	/*background: #bfbfbf;*/
	  	color: white;
		}

		.fa-pinterest {
	  	/*background: #cb2027;*/
	  	/*background: #bfbfbf;*/
	  	color: white;
		}

		.fa-github{
		color:white;

		}

		.footer-buttons{
		text-align: center;
		font-size: 20px; 
		}

		.prototype-description{
		font-family: 'Arimo', sans-serif;
		font-size: 15px; 
		}

		#blur{
	 	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
	  	filter: blur(1px);
		}

		#persona-top-version2{
		margin-top:10%;
		}

}


@media (max-width: 576px) { /*Extra small devices (portrait phones, less than 576px)*/
	
       .picture-header{
			height:100%;
		}

		#linkedin-background{
		/*height:900px;*/
		height:20%;
		}

		#navtitle{
		font-weight:bold;
		font-size:15px;
		font-family:"Helvetica";
		}

		.conclusion-header{
		font-size:3vh;
		font-family: 'Arimo', sans-serif;
		font-weight: bold;
		text-align: center; 
		}

		#conclusion-top-margin{
		margin-top: -15%;
		height:150px; 
		}


		#blur{
	 	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
	  	filter: blur(1px);
		}

		.navtext{
		font-size: 12px; 
		}

		#h2-margin{
		margin-left:2.7%;
		}

		#h1-margin{
		margin-left:17.8%;
		}

		.text-wrapper{
		width:100%;
		position:relative;
		margin-top:-14%;
		margin-left:-40.5%;
		} 

		.text-wrapper h1{
			text-align:center;
			color:black;
			font-size:13px;
			font-family: 'Arimo', sans-serif;
			opacity: 0.5; 

			}

		.text-wrapper h2{
		text-align:center;
		color: black;
		font-size:10px;
		font-family: 'Arimo', sans-serif;
		opacity:0.5;
		}

		#hire-me-btn-margin{
		display: block; 
		margin-top:1%; 
		margin-left:0.8%;
		}

		.btn.btn-outline-dark{
		color:black;
		border-radius: 0; 
		opacity:0.5;
		background-color: #e8ecf1;
		font-size: 8px;  
		}

		.Brienis-text1{
		text-align: center;
		color:black;
		font-size:10px;
		font-family:'Playfair Display', serif;
		opacity: 0.7; 
		}

		.Brienis-text2{
		text-align:center;
		color:black;
		font-size:10px;
		font-family:'Playfair Display', serif;
		opacity: 0.7; 
		}

		/*.test{
			background-color: red; 
		}

		.test2{
			background-color: blue; 
		}*/

		/*.Brienis-text-top{
		margin-top: 8%; 
		}*/

		#metro-header{
	 	font-size:15px;
		font-family: 'Arimo', sans-serif;
		font-weight: bold; 
		}

		video:hover {
	 	opacity: 0.7;
	 	/*opacity: 0.9; */
      	transition: 0.5s;
		}	

		.for-video-size{
		width:200px;  
		/*height:600px;*/
		height:400px;
		}

		#conclusion-link:hover{
		color:white;
		}

		#conclusion-link{
		color:black;
		text-decoration:underline;
		}

		#footer-background{
		height:5%;
		background-color:black;
		}

		.footertext{
	  	color:white;
	  	text-align: center; 
		}

		#footer-btn-top{
		margin-top:0.5%;
		}


		.fa {
	  	padding: 20px;
	  	font-size: 30px;
	  	width: 30px;
	  	text-align: center;
	  	text-decoration: none;
	  	margin: 5px 2px;
	  	border-radius: 50%;
		}

		.fa:hover {
	    opacity: 0.4;
	    color: white; 
		}

		.fa-linkedin {
	  	/*background: #007bb5;*/
	  	/*background: #bfbfbf;*/
	  	color: white;
		}

		.fa-pinterest {
	  	/*background: #cb2027;*/
	  	/*background: #bfbfbf;*/
	  	color: white;
		}

		.fa-github{
		color:white;

		}

		.footer-buttons{
		text-align: center;
		font-size: 16px; 
		}

		/*.footer-buttons:hover {
	    opacity: 0.4;
	    color: white; 
		}*/

		.prototype-description{
		font-family: 'Arimo', sans-serif;
		font-size: 10px; 
		}

} /*end of breakpoint*/

@media (min-width: 1202px) and (max-width: 1650px) {
		.picture-header{
			height:80%;
		}

		#linkedin-background{
		/*height:900px;*/
		height:20%;
		/*background-color: black;*/
		}

		#navtitle{
		font-weight:bold;
		font-size:25px;
		font-family:"Helvetica";
		}


		.navtext{
		font-size: 16px; 
		}

		#h2-margin{
		margin-left:-4%;
		}

		#h1-margin{
		margin-left:6%;
		}

		.text-wrapper{
		width:100%;
		position:relative;
		margin-top:-10%;
		margin-left:-40.5%;
		} 

		.text-wrapper h1{
			text-align:center;
			color:black;
			font-size:22px;
			font-family: 'Arimo', sans-serif;
			opacity: 0.5; 

			}

		.text-wrapper h2{
		text-align:center;
		color: black;
		font-size:16px;
		font-family: 'Arimo', sans-serif;
		opacity:0.5;
		}

		#hire-me-btn-margin{
		display: block; 
		margin-top:1%; 
		margin-left:1.5%;
		}

		.btn.btn-outline-dark{
		color:black;
		border-radius: 0; 
		opacity:0.5;
		background-color: #e8ecf1;
		font-size: 16px;  
		}

		.Brienis-text1{
		text-align: center;
		color:black;
		font-size:16px;
		font-family:'Playfair Display', serif;
		opacity: 0.7; 
		}

		.Brienis-text2{
		text-align:center;
		color:black;
		font-size:16px;
		font-family:'Playfair Display', serif;
		opacity: 0.7; 
		}

		.Brienis-text-top{
		margin-top: -4%; 
		}

		#metro-header{
	 	font-size:27px;
		font-family: 'Arimo', sans-serif;
		font-weight: bold; 
		}

		video:hover {
	 	opacity: 0.7;
	 	/*opacity: 0.9; */
      	transition: 0.5s;
		}	

		.for-video-size{
		width:400px;  
		/*height:600px;*/
		height:500px;
		}

		#conclusion-link:hover{
		color:white;
		}

		#conclusion-link{
		color:black;
		text-decoration:underline;
		}

		.conclusion-header{
		font-size:3.5vh;
		font-family: 'Arimo', sans-serif;
		font-weight: bold;
		text-align: center; 
		}

		#footer-background{
		height:100px;
		background-color:black;
		}

		.footertext{
	  	color:white;
	  	text-align: center; 
		}

		.fa {
	  	padding: 20px;
	  	font-size: 30px;
	  	width: 30px;
	  	text-align: center;
	  	text-decoration: none;
	  	margin: 5px 2px;
	  	border-radius: 50%;
		}

		.fa:hover {
	    opacity: 0.4;
	    color: white; 
		}

		.fa-linkedin {
	  	/*background: #007bb5;*/
	  	/*background: #bfbfbf;*/
	  	color: white;
		}

		.fa-pinterest {
	  	/*background: #cb2027;*/
	  	/*background: #bfbfbf;*/
	  	color: white;
		}

		.fa-github{
		color:white;

		}

		.footer-buttons{
		text-align: center;
		font-size: 23px; 
		}

		.prototype-description{
		font-family: 'Arimo', sans-serif;
		font-size: 18px; 
		}

		#persona-top-version2{
		margin-top:8%;
		}



	} /*end of breakpoint*/

.clickable-top-margin{
	margin-top: 80px; 
}


.clickable-text{
	font-weight:bold;
	/*font-family: "Helvetica";*/
	font-family: 'Arimo', sans-serif; 
	font-size:25px;
}

.clickable-proto-top{
	margin-top:70px;
}